@import 'src/style/mixin';
.LivePage{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  // max-width: 720px;
  .am-search-clear{
    top: 12px;
    right: 20px
  }
  .search_warp{
    background: #fff;
    padding: 15px 20px;
    position: fixed;
    border-bottom: 1px solid #d7d7d7;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    height: 1.17333rem;
    .uninput{
      position: relative;
      @include font-size(28px) ;
      text-align: center;
      height: 0.74667rem;
      line-height: 0.74667rem;
      border-radius: 10px;
      background: #f0f0f0;
      color: #bbb;
      div{
        img{
          position: absolute;
          top: 12px;
          left: 230px;
          width: 30px;
          height: 30px;
        }
      }

    }
  }


  .LivePage_wrap{
    margin-top: 85px;
    height: calc(100vh - 85px);
    .recommended_keywords_title{
      padding: 28px 30px;
      background: #fff;
      h5{
        @include font-size(30px);
        color:#8c8c8c;
      }
      p{
        padding: 22px 0;
        max-height: 1.8rem;
        overflow: hidden;
        a{
          padding: 0px 24px;
          display: inline-block;
          background: #d9f8ee;
          color: #01b47a;
          border-radius: 5px;
          text-align: center;
          height: 50px;
          line-height: 50px;
          margin-right: 20px;
          margin-bottom: 10px;
        }
        a:nth-last-child(1){
          margin-right: 0;
        }
      }
    }
    .recommended_live_wrap{
      .recommended_live_title{
        height: 70px;
        line-height: 70px;
        text-align: left;
        padding-left: 30px;
        @include font-size(28px);
        color:#8c8c8c;
      }



      .recommended_list{
        background: #fff;
        .recommended_live_item{
          background: #fff;
          margin-bottom: 20px;
          -moz-box-shadow: 0px 10px 10px #ccc;; /* 老的 Firefox */
          box-shadow: 0px 10px 10px #ccc;
          .img_wrap{
            width: 100%;
            height: calc(100vw / 7 * 4);
            min-height: 295px;
            position: relative;
            img{
              width: 100%;
              height: calc(100vw / 7 * 4);
            }
            .shadow{
              width: 100%;
              padding-left: 30px;
              line-height: 120px;
              position: absolute;
              color:#fff;
              bottom: 0;
              height: 120px;
              background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)); /* 标准的语法（必须放在最后） */
              .shadow_content{
                width: 80%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              img{
                margin-top: 26px;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 30px;
              }
              span{
                font-size: 30px;
                color: #fff;
              }
              span:nth-of-type(2){
                margin-left: 20px;
              }
            }
            .live_status{
              width: 240px;
              height: 60px;
              position: absolute;
              line-height: 60px;
              left: 50%;
              margin-left: -120px;
              top:0;
              display: inline-block;
              text-align: center;
              border-radius: 0px 0px 10px 10px;
              span{
                font-size: 26px;
                color: #fff;
                height: 60px;
                text-align:center;
                line-height: 60px;
                display: inline-block;
              }
              i{
                width: 15px;
                height: 15px;
                border-radius: 50%;
                display: inline-block;
                margin-right: 12px;
              }
            }
            .live_status_ing{
              color: #fff;
              background: rgba(255,132,132,0.6)
              // background-image: url('/living.svg');
            }
            .live_status_will{
              color: yellow;
              background: rgba(2,205,139,0.6)
              // background-image: url('/unlive.svg');
            }
            .white{
              background: #fff;
            }
            .yellow{
              background: yellow;
            }
          }
          .recommended_live_info{
            padding: 26px 30px;
            h4{
              color:#222222;
              font-size: 36px;
              text-align: left;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
              overflow: hidden;
            }
            p:nth-of-type(1){
              margin-top: 15px;
              span{
                padding:10px 18px;
                color: #999999;
                @include font-size(26px);
                text-align: center;
                border: 1px solid #d7d7d7;
                margin-right: 25px;
                border-radius: 5px;
              }
            }
            p:nth-of-type(2){
              margin-top: 18px;
              padding-bottom: 20px;
              span{
                margin-right: 50px;
                color:#565656;
                @include font-size(24px);
                img{
                  margin-right: 13px;
                  margin-bottom: 4px;
                }
              }
              span:nth-of-type(1){
                img{
                  width: 30px;
                  height: 30px;
                }
              }
              span:nth-of-type(2){
                img{
                  width: 25px;
                  height: 25px;
                }
              }
              span:nth-of-type(3){
                img{
                  width: 25px;
                  height: 25px;
                }
              }
              .free{
                color: #02cd8b;
              }
              .unfree{
                color:#ff3000;
              }
            }
          }
        }
        .recommended_videotape_item{
          height: 200px;
          width: 100%;
          padding: 40px 30px;
          padding-bottom: 0;
          border-bottom: 1px solid #d7d7d7;
          position: relative;
          .recommended_videotape_content{
            .img_wrap{
              width: 182px;
              height: 103px;
              position: relative;
              .videotape_status{
                position: absolute;
                width: 100%;
                height: 40px;
                bottom: 0;
                color:#fff;
                background: rgba(0,0,0,0.4);
                @include font-size(24px);
                text-align: center;
                line-height: 40px;
              }
              img{
                width: 182px;
                height: 103px;
              }
            }
            .recommended_videotape_info{
              width: 65%;
              margin-left: 26px;
              h5{
                @include font-size(30px);
                color: #222222;
                text-align: left;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
              }
              p:nth-of-type(1){
                margin-top: 14px;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
                span{
                  color:#999999;
                  padding-right: 10px;
                  @include font-size(24px);
                }
              }
              p:nth-of-type(2){
                overflow: hidden;
                height: 60px;
                span{
                  margin-top: 10px;
                  padding:6px 14px;
                  color: #999999;
                  font-size: 24px;
                  display: inline-block;
                  text-align: center;
                  border: 1px solid #d7d7d7;
                  margin-right: 25px;
                  border-radius: 5px;
                }
              }
            }
          }
          .sanjiao{
            position: absolute;
            right: 0;
            top: 0;
            width: 0;
            height: 0;
            border-top: 90px solid #f00;
            border-left: 90px solid transparent;
          }
          .sanjiao_text{
            position: absolute;
            right:0;
            top: 22px;
            width: 50px;
            height: 15px;
            z-index: 999;
            color:#fff;
            // @include font-size(22px);
            font-size: 22px;
            display: inline-block;
            transform:rotate(45deg);
            -ms-transform:rotate(45deg); 	/* IE 9 */
            -moz-transform:rotate(45deg); 	/* Firefox */
            -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
          }
          .qian{
            font-size: 16px;
          }
          .sanjiao_green{
            background: #fff;
            text-align: center;
            border-top: 90px solid #d9f8ee;
          }
          .sanjiao_red{
            background: #fff;
            text-align: center;
            border-top: 90px solid #ffe0d9;
          }
          .sanjiao_text_green{
            color:#02cd8b;
          }
          .sanjiao_text_red{
            color:#ff3000;
          }
        }
      }
    }
  }
  .modal_wrap{
    width: 100%;
    // height: 80px;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 0.5s;
    z-index: 3;
    .search_text{
      display: block;
      padding: 30px;
      width: 100%;
      height: 120px;
      background: #fff;
      border-bottom: 1px solid #d7d7d7;
      .green_search{
        width: 60px;
        height: 60px;
      }
      p{
        margin-left: 16px;
        height: 60px;
        line-height: 60px;
        width:87%;
        span:nth-of-type(1){
          color:#222222;
          @include font-size(30px);
        }
        span:nth-of-type(2){
          color:#02cd8b;
          @include font-size(30px);
        }
        .arrow_search{
          width: 28px;
          height: 28px;
          margin-top: 10px;
        }
      }
    }
    .search_history{
      .search_early{

        width: 100%;
        height: 80px;
        line-height: 80px;
        padding: 0 30px;
        @include font-size(30px);
        color: #999999;
      }
      .clear_history{
        color: #02cd8b;
        @include font-size(28px);
        width: 100%;
        height: 80px;
        line-height: 80px;
        text-align: center;
      }
      li{
        @include font-size(30px);
        width: 100%;
        height: 80px;
        line-height: 80px;
        padding: 0 30px;
        position: relative;
        color: #222222;
        span:nth-of-type(2){
          width: 2rem;
          height: 80px;
          img{
            position: absolute;
            width: 26px;
            height: 26px;
            top: 23px;
            right: 30px;
          }
        }
      }
    }
  }
  .search_mask{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.4);
    z-index:2;
    display: none;
    .am-search{
      padding: 0 20px;
      background: #fff;
      border-bottom: 1px solid #d7d7d7;
      .am-search-input{
        background: #f0f0f0;
      }
      .am-search-value{
        color: #999!important;
        @include font-size(28px);
      }
      .am-search-cancel{
        @include font-size(28px)                                           ;
      }
    }
  }
  .active{
    display: block;
  }
}
