@import 'src/style/mixin';
.home_page{
  width: 100%;
  height: 100%;
	overflow: hidden;
	padding-bottom: 120px;
  // max-width: 720px;
  position: relative;
  margin: 0 auto;
  .am-search-clear{
    top: 12px;
    right: 20px
  }
  .search_bar{
    width:100%;
    height: 1.17333rem;
    padding: 15px 0.26667rem;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    .search_content{
      width: 100%;
      height: 0.74667rem;
      background: #f0f0f0;
      font-size: 28px;
      color:#bbb;
      text-align: center;
      position: relative;
      line-height: 0.74667rem;
      border-radius: 5px;
      cursor: pointer;
      img{
        position: absolute;
        left: 100px;
        top: 0.2rem;
        width:30px;
        height: 30px;
        margin-right: 36px;
      }
    }
  }
  .home_page_wrap{
    height:calc(100vh - 2.4rem);
    margin-top: 80px;
    overflow: hidden;
    margin-bottom: 30px;
    .scroll_wrap{
      .carousel{
    		.slider-list{
    			height: 300px !important;
          padding:20px 10px!important;
    			.slider-slide{
    				width: 750px !important;
    				height: 300px !important;
            padding:20px 25px!important;
            padding-top: 40px!important;
            border-radius: 15px;
            a{
              width: 100%;
              height: 100%;
              img{
      					width: 100%;
      					height: 100%;
                border-radius: 15px;
                box-shadow: 0px 5px 15px #888888;
      				}
            }

    			}
    		}
    		.slider-decorator-0{
    			bottom:-20px !important;
    		}
    		.am-carousel-wrap-dot-active > span{
    			background: #02cd8b;
          width: 0.41333rem;
          height:0.2rem;;
          border-radius: 10px;
          animation: 0.5s;
    		}
    	}
      .home_page_conetent{
        height: 340px;
        width: 710px;
        margin:30px 20px;
        border-radius: 15px;
        padding: 10px 0px;
        background: #fff;
        .home_page_conetent_left{
          width:355px;
          height: 100%;
          border-right: 1px solid #d7d7d7;
          text-align: center;
          img{
            width: 170px;
            height: 170px;
            border-radius: 50%;
            margin-top: 30px;
          }
          h5{
            margin-top: 22px;
            @include font-size(32px);
            color:#222222;
          }
          p{
            margin-top: 14px;
            @include font-size(24px);
            color:#999999;
          }
        }
        .home_page_conetent_right{
          width:355px;
          height: 100%;
          padding-top: 30px;
          .home_page_conetent_right_top{
            display: block;
            width: 100%;
            height: 50%;
            border-bottom: 1px solid #d7d7d7;
            // div{
            //   width: 100%;
            // }
            img{
              width: 100px;
              height: 100px;
              border-radius: 50%;
              margin-left: 30px;
            }
            h5{
              margin-left: 20px;
              margin-top: 15px;
              width: 100%;
              @include font-size(32px);
              color:#222222;
            }
            p{
              @include font-size(24px);
              color:#999999;
              margin-left: 15px;
              margin-top: 10px;
            }
          }
          .home_page_conetent_right_bottom{
            padding-top: 30px;
            display: block;
            img{
              width: 100px;
              height: 100px;
              border-radius: 50%;
              margin-left: 30px;
            }
            h5{
              margin-left: 20px;
              margin-top: 15px;
              width: 100%;
              @include font-size(32px);
              color:#222222;
            }
            p{
              @include font-size(24px);
              color:#999999;
              margin-left: 15px;
              margin-top: 10px;
            }

          }
        }
      }
      .lookup{
        margin:20px 20px;
        border-radius: 15px;

        background: #fff;
        height: 140px;
        .Diseasesearch_lookup{
          width: 50%;
          box-sizing: border-box;
          border-right: 1px solid #d7d7d7;
          height: 140px;
          display: inline-block;
          .img_wrap{
            text-align: center;
            line-height: 140px;
            width: 40%;
            img{
              width: 70px;
              height: 70px;
              border-radius: 50%;
            }
          }
          .content{
            width: 60%;
            margin-top: 30px;
            p:nth-of-type(1){
              text-align: left;
              font-size: 30px;
              color: #565656;
            }
            p:nth-of-type(2){
              text-align: left;
              margin-top: 12px;
              font-size: 24px;
              color: #6e6e6e;
            }
          }
        }
        .department_lookup{
          width: 50%;
          height: 140px;
          display: inline-block;
          .img_wrap{
            width: 40%;
            text-align: center;
            line-height: 140px;
            img{
              width: 70px;
              height: 70px;
              border-radius: 50%;
            }
          }
          .content{
              width: 60%;
              margin-top: 30px;
            p:nth-of-type(1){
              text-align: left;
              font-size: 30px;
              color: #565656;
            }
            p:nth-of-type(2){
              text-align: left;
              margin-top: 12px;
              font-size: 24px;
              color: #6e6e6e;
            }
          }
        }
      }
      .community_classroom{
        background: #fff;
        border-radius: 15px;
        margin: 0 20px;
        .community_classroom_title{
          height: 80px;
          line-height: 80px;
          padding: 0 20px;
          border-bottom: 1px solid #d7d7d7;
          .moredo{
            color:#02cd8b;
            @include font-size(28px);
          }
          .titlename{
            @include font-size(32px);
            color:#222222;
          }
        }
        .community_classroom_content{
          li{
            height: 180px;
            border-bottom: 1px solid #d7d7d7;
            padding: 30px 0;
            img{
              width: 180px;
              height: 120px;
              margin-left: 10px;
            }
            div{
              width: 65%;
              margin-left: 24px;
              h5{
                color:#222222;
                @include font-size(30px);
                margin-top: 5px;
              }
              p{
                margin-top: 20px;
                color:#999999;
                @include font-size(26px);
              }
            }
          }
        }
      }
    }
  }
  .modal_wrap{
    width: 100%;
    // height: 80px;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 0.5s;
    z-index: 3;
    .action{
      display: block!important;
    }
    .recommended_keywords_title{
      display: none;
      padding: 0px 30px;
      background: #fff;
      h5{
        @include font-size(26px);
        color:#999;
        height: 70px;
        line-height: 70px;
      }
      p{
        padding: 22px 0;
        max-height: 3.6rem;
        overflow: hidden;
        a{
          @include font-size(26px);
          padding: 0px 24px;
          display: inline-block;
          color: #565656;
          border-radius: 5px;
          text-align: center;
          line-height: 40px;
          margin-right: 20px;
          margin-bottom: 30px;
          border: 1px solid #d7d7d7;
        }
        a:nth-last-child(1){
          margin-right: 0;
        }
      }
    }
    .search_text{
      display: block;
      padding: 30px;
      width: 100%;
      height: 120px;
      background: #fff;
      border-bottom: 1px solid #d7d7d7;
      .green_search{
        width: 60px;
        height: 60px;
      }
      p{
        margin-left: 16px;
        height: 60px;
        line-height: 60px;
        width:87%;
        span:nth-of-type(1){
          color:#222222;
          @include font-size(30px);
        }
        span:nth-of-type(2){
          color:#02cd8b;
          @include font-size(30px);
        }
        .arrow_search{
          width: 28px;
          height: 28px;
          margin-top: 10px;
        }
      }
    }
    .search_history{
      .clear_history{
        color: #02cd8b;
        @include font-size(28px);
        width: 100%;
        height: 80px;
        line-height: 80px;
        text-align: center;
      }
      li{
        @include font-size(30px);
        height: 80px;
        line-height: 80px;
        margin: 0 30px;
        position: relative;
        color: #222222;
        border-bottom: 1px solid #d7d7d7;
        span:nth-of-type(2){
          width: 2rem;
          height: 80px;
          img{
            position: absolute;
            width: 26px;
            height: 26px;
            top: 23px;
            right: 30px;
          }
        }
      }
    }
    .SearchResult{
      display: none;
      .SearchResultList{
        li{
          height: 70px;
          background: #fff;
          width: 100%;
          line-height: 70px;
          padding: 0 30px;
          @include font-size(30px);
          color: #222;
          border-bottom: 1px solid #d7d7d7;

        }
      }
      .noSearchResultList{
        background: #fff;
        height: 300px;
        padding-top: 124px;
        color: #222;
        @include font-size(30px);
        text-align: center;;
      }
    }
  }
  .search_mask{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.4);
    z-index:2;
    display: none;
    .am-search{
      padding: 0 20px;
      background: #fff;
      border-bottom: 1px solid #d7d7d7;
      .am-search-input{
        background: #f0f0f0;
      }
      .am-search-value{
        color: #999!important;
        @include font-size(28px);
      }
      .am-search-cancel{
        @include font-size(28px)                                           ;
      }
    }
  }
  .active{
    display: block!important;
  }

}
