.WhitePage{
  width: 100%;
  height: 100%;
  background: #fff;

  .img{
    width: 100%;
    padding-top: 268px;
    text-align: center;
    img{
      width: 266px;
      height: 277px;
    }
  }
  .text{
    margin-top: 40px;
    width: 100%;
    font-size: 32px;
    color:#222;
    text-align: center;
  }
}
