.Talive{
	width: 100%;
	padding: 40px 30px;
	border-bottom: 1px solid #d7d7d7;
	position: relative;
	background: #fff;
	.Talive_content{
		.img_wrap{
			width: 160px;
			height: 160px;
			position: relative;
			.videotape_status{
				position: absolute;
				width: 100%;
				height: 40px;
				bottom: 0;
				color:#fff;
				background: rgba(0,0,0,0.4);
				font-size:24px;
				text-align: center;
				line-height: 40px;
			}
			img{
				width: 160px;
				height: 160px;
			}
		}
		.recommended_videotape_info{
				width: 65%;
				margin-left: 26px;
				h5{
					font-size:30px;
					color: #222222;
					text-align: left;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					overflow: hidden;
					height: 70px;
				}
				p:nth-of-type(1){
					margin-top: 14px;
					overflow: hidden;
					text-overflow:ellipsis;
					white-space: nowrap;
					span{
						color:#999999;
						padding-right: 10px;
						font-size:24px;
					}
				}
				p:nth-of-type(2){
					overflow: hidden;
					height: 42px;
					margin-top: 10px;
					span{
						padding:6px 14px;
						color: #999999;
						font-size: 24px;
						display: inline-block;
						text-align: center;
						border: 1px solid #d7d7d7;
						margin-right: 25px;
						border-radius: 5px;
					}
				}
		}
		.sanjiao{
			position: absolute;
			right: 0;
			top: 0;
			width: 0;
			height: 0;
			border-top: 90px solid #f00;
			border-left: 90px solid transparent;
		}
		.sanjiao_text{
			position: absolute;
			right:0;
			top: 22px;
			width: 50px;
			height: 15px;
			z-index: 999;
			color:#fff;
			font-size: 22px;
			display: inline-block;
			transform:rotate(45deg);
			-ms-transform:rotate(45deg); 	/* IE 9 */
			-moz-transform:rotate(45deg); 	/* Firefox */
			-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
		}
		.qian{
			font-size: 16px;
		}
		.sanjiao_green{
			background: #fff;
			text-align: center;
			border-top: 90px solid #d9f8ee;
		}
		.sanjiao_red{
			background: #fff;
			text-align: center;
			border-top: 90px solid #ffe0d9;
		}
		.sanjiao_text_green{
			color:#02cd8b;
		}
		.sanjiao_text_red{
			color:#ff3000;
		}
	}
}
