@import 'src/style/mixin';
.am-tabs-ink-bar{
  // width: 0px!important;
}
.am-tabs-tab-active{
  border-bottom: 4px solid #108ee9;
}



.LiveContent_wrap{
  // 修改ａｎｔ
  .am-tabs-ink-bar{
    width: 0px!important;
  }
  .am-tabs-tab-active{
    border-bottom: 4px solid #02CD8B;
    color: #02cd8b;
    box-sizing: border-box;
  }
  // 页面开始
  .banner_wrap{
    .LiveContent_banner{
      width: 100%;
      height: 5rem;
    }
  }

  .video_wrap{
    video{
      width: 100%;
      height: 344px;
    }
  }
  .live_tab_wrap{
  }
}
